<section class="bg-white">

  <div class="container mx-auto flex items-center flex-wrap pb-12 border-t">
    <div class="w-[500px] p-8 mx-auto flex flex-col items-center text-sm">
      <div class="font-bold text-lg">Sign up</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mt-4">
          <%= f.label :firstname, "First Name" %><br />
          <%= f.text_field :firstname, autofocus: true, class: "text-sm w-64 h-8 rounded-lg" %>
        </div>

        <div class="field mt-4">
          <%= f.label :lastname, "Last Name" %><br />
          <%= f.text_field :lastname, class: "text-sm w-64 h-8 rounded-lg" %>
        </div>
      
        <div class="field mt-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "text-sm w-64 h-8 rounded-lg" %>
        </div>
      
        <div class="field mt-4">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "text-sm w-64 h-8 rounded-lg" %>
        </div>
      
        <div class="field mt-4">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-sm w-64 h-8 rounded-lg" %>
        </div>
      
        <div class="actions mt-4">
          <%= f.submit "Sign up", class: "hover:bg-zinc-100 cursor-pointer px-3 py-1 rounded-lg border border-zinc-700" %>
        </div>
      <% end %>
      
      <div class="mt-8 pr-52">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
