<section class="bg-white">

  <div class="container mx-auto flex items-center flex-wrap pb-12 border-t">
    <div class="w-[700px] p-8 mx-auto ">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <div>
        <% @cart_items.each do |cart_item| %>
          <div class="flex border-t">
            <%= image_tag(cart_item.product.image_url, class: "w-16") %>
            <p class="mt-4"><%= cart_item.product.title %></p>
            <p class="mt-4 ml-auto"><%= number_to_currency (cart_item.product.price / 100.0) %></p>
            <p class="">
              <%= form_with url: cart_remove_path(cart_item_id: cart_item.id), method: :post, local: true, class: "mt-4 ml-4 " do |form| %>
                <% button_tag type: "submit", class: "hover:bg-zinc-100 rounded" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              <% end %>
            </p>
          </div>
        <% end %>
          <div class="flex border-t">
            <p class="mt-4 ml-16">Order Total</p>
            <p class="mt-4 ml-auto"><%= number_to_currency (@cart_total / 100.0) %></p>
            <p class="mt-4 ml-8"></p>
          </div>
      </div>

      <% if @cart_items.length > 0 %>
        <div class="text-center mt-8 hover:underline">
          <%= link_to "Checkout", new_order_path %>
        </div>
      <% end %>

      <div class="mt-16">
        Past Orders
        <% @orders.each do |order| %>
          <% total = order.order_products.sum { |op| op.price } %>
          <div class="hover:underline hover:cursor-pointer"><%= link_to "Order #{order.id}, #{number_to_currency (total / 100.0)}", order_path(order) %></div>
        <% end %>
      </div>

    </div>
  </div>
</section>